body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.curr-weather-container {
    padding: 1em;
    border-radius: 1em;
    margin: 0.5em;
}

.invisible-btn {
    background-color: inherit;
    border: none;
}

.round-btn {
    border-radius: 25%;
    border: none;
    color: white;
}